.tile {
    height: 250px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px grey;
    background: khaki;
    border: solid goldenrod 10px;
    border-radius: 50%;
    color: darkgreen;
}

.tile:hover {
    box-shadow: 15px 15px 10px grey;
}

.add-dough-btn {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-dough-btn:hover {
    cursor: pointer;
    background: darkred;
}

.added-btn {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: darkred;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}