.tile {
    height: 200px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px grey;
    background: lightgrey;
    
}

.tile:hover {
    box-shadow: 15px 15px 10px grey;
}

.add-btn {
    width: 75px;
    height: 50px;
    border-radius: 50%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    cursor: pointer;
}